- var n = 4

.Wrap
  .loaderWrap
    while n--
      .loader

.text.text-inspiration
    | Made by 
    a.text-link(href='//codepen.io/acemir', target='_blank') Acemir Mendes
    br
    | Based on Dribble 
    a.text-link(href='//drbl.in/nWkK', target='_blank') Pull To Refresh
    |  by 
    a.text-link(href='//dribbble.com/JasonZigrino', target='_blank') Jason Zigrino