body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none !important;
}
#button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/car/enter.png");
    opacity: 1;
    transition: opacity 500ms;
    cursor: pointer;
    
    &.transition {
        opacity: 0;
        cursor: default;
    }
}
.presets {
    position: absolute;
    left: 27px;
    bottom: 27px;
    
    &.interior {
        bottom: 73px;
        > .preset > .color {
            border-width: 13px;
            border-style: solid;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
        }
    }
    &.exterior > .preset {
        > .first {
            width: 26px;
            height: 20px;
        }
        > .second {
            width: 26px;
            height: 6px;
        }
    }
    > .preset {
        float: left;
        width: 26px;
        height: 26px;
        margin-right: 14px;
        border: 3px solid transparent;
        cursor: pointer;
        overflow: hidden;
        
        &.active {
            border-color: #fff;
        }
    }
}
#social {
    position: absolute;
    top: 30px;
    left: ~"calc(50% - 40px)";
    
    > .share {
        float: left;
        width: 32px;
        height: 32px;
        cursor: pointer;
        
        &.facebook {
            background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/car/share-fb.png");
        }
        &.twitter {
            margin-left: 8px;
            background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/car/share-tw.png");
        }
    }
}
#powered {
    display: block;
    position: absolute;
    left: ~"calc(50% - 91px)";
    bottom: 30px;
    width: 182px;
    height: 10px;
    padding: 6px 16px;
    background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/car/powered.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#fwa {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 146px;
    height: 146px;
    background-repeat: no-repeat;
    background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/car/fwa-site-of-the-day.png");
}
@media (max-width: 640px) {
    #powered {
        top: 10px;
        left: ~"calc(50% - 101px)";
        bottom: auto;
        padding: 10px;
    }
    #social {
        top: 10px;
        right: 10px;
        left: auto;
    }
}
@media (max-width: 479px) {
    #fwa {
        width: 73px;
        height: 73px;
        background-size: 73px 73px;
    }
}
@media (max-width: 359px) {
    #powered {
        top: 10px;
        width: 127px;
        height: 7px;
        left: ~"calc(50% - 70px)";
        bottom: auto;
        padding: 10px;
        background-size: 127px 7px;
    }
}
@media (max-width: 767px), (max-height: 767px) {
    #logo {
        top: 15px;
    }
    #social {
        top: 10px;
    }
    #button {
        bottom: 10px;
        right: 10px;
    }
    .presets {
        left: 12px;
        bottom: 12px;
        
        &.interior {
            bottom: 48px;
        }
        > .preset {
            margin-right: 4px;
        }
    }
}